<template>
  <div class="row">
    <div class="col-5">
      <ValidationProvider rules="required" v-slot="{ errors }">
        <input
          type="text"
          class="form-control"
          placeholder="القيمه بالعربيه"
          v-model="option_value_ar"
        />
        <span class="text-danger">{{ errors[0] }}</span>
      </ValidationProvider>
    </div>
    <div class="col-5">
      <ValidationProvider rules="required" v-slot="{ errors }">
        <input
          type="text"
          class="form-control"
          placeholder="القيمه بالانجليزيه"
          v-model="option_value_en"
        />
        <span class="text-danger">{{ errors[0] }}</span>
      </ValidationProvider>
    </div>
    <div class="col-2" v-if="option_deletable">
      <button
        @click="deleteOption"
        type="button"
        class="btn btn-icon btn-rounded btn-outline-danger"
      >
        <i class="feather icon-slash"></i>
      </button>
    </div>
  </div>
</template>
<script>
import { ValidationProvider, ValidationObserver } from "vee-validate";

export default {
  props: {
    option: {
      required: true
    },
    deletable: {
      required: true
    }
  },
  data() {
    return {
      option_id: null,
      option_value_ar: null,
      option_value_en: null,
      option_deletable: true
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  mounted() {
    this.option_id = this.option.id;
    this.option_value_ar = this.option.value_ar;
    this.option_value_en = this.option.value_en;
    this.option_deletable = this.deletable;
  },
  watch: {
    option_value_ar() {
      this.updateParent();
    },
    option_value_en() {
      this.updateParent();
    }
  },
  methods: {
    deleteOption() {
      this.$root.$emit("option-deleted", this.option_id);
    },
    updateParent() {
      this.$root.$emit(
        "option-updated",
        this.option_id,
        this.option_value_ar,
        this.option_value_en
      );
    }
  }
};
</script>