<template>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 v-if="this.attribute">تعديل</h5>
                <h5 v-else>إنشاء جديد</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ValidationObserver ref="form">
                            <form @submit.prevent="validateForm" action="#" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="form-group col-3">
                                        <ValidationProvider rules="required" v-slot="{ errors }">
                                            <label class="typo__label">الإسم بالعربيه :</label>
                                            <input type="text" class="form-control" v-model="name_ar" />
                                            <span class="text-danger">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>
                                    <div class="form-group col-3">
                                        <ValidationProvider rules="required" v-slot="{ errors }">
                                            <label class="typo__label">الإسم بالانجليزيه :</label>
                                            <input type="text" class="form-control" v-model="name_en" />
                                            <span class="text-danger">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>
                                    <div class="form-group col-3">

                                            <label class="typo__label">الصوره :</label>
                                            <input type="file" class="form-control" id="image" name="image"
                                                   @change="onFileChange" >
<!--                                            <span class="text-danger">{{ errors[0] }}</span>-->

                                    </div>
                                    <div class="form-group col-6">
                                        <ValidationProvider rules="required" v-slot="{ errors }">
                                            <label class="typo__label">النوع :</label>
                                            <multiselect
                                                placeholder=" "
                                                :options="type_option"
                                                track-by="name"
                                                label="value"
                                                v-model="type"
                                            ></multiselect>
                                            <span class="text-danger">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>
                                </div>
                                <div class="row" v-if="this.type && this.type.name == 'select'">
                                    <div class="form-group col-12">
                                        <button @click.prevent="addOption" class="btn btn-success">إضافه إختيار</button>
                                    </div>
                                    <div
                                        class="form-group col-6"
                                        v-for="(option,index) in select_options"
                                        :key="option.id"
                                    >
                                        <attribute-options :deletable="index > 1 ? true : false" :option="option"></attribute-options>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">تأكيد</button>
                                <a :href="route"> <button type="button"
                                                          class="btn btn-danger">الغاء</button></a>
                            </form>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
        <!-- Input group -->
    </div>
</template>

<script>
    import { ValidationProvider, ValidationObserver } from "vee-validate";
    import AttributeOptions from "./AttributeOptions";
    import Swal from "sweetalert2";
    export default {
        data() {
            return {
                name_ar: null,
                name_en: null,
                image: '',
                customers:['mosa','ali'],
                type: null,
                route:route('attributes.index'),
                type_option: [
                    { name: "date", value: "تاريخ" },
                    { name: "number", value: "رقم" },
                    { name: "text", value: "حروف" },
                    { name: "select", value: "إختيار من متعدد" }
                ],
                select_options: [
                    { id: Date.now(), value_ar: "" },
                    { id: Date.now() + 1, value_en: "" }
                ]
            };
        },
        props: ["attribute"],
        components: {
            ValidationProvider,
            ValidationObserver,
            "attribute-options": AttributeOptions
        },
        methods: {
            validateForm() {
                return new Promise((resolve, reject) => {
                    this.$refs.form.validate().then(result => {
                        if (result) {
                            this.submitForm();
                        }
                    });
                });
            },
            onFileChange(event) {

                let files = event.target.files;
                this.image = files[0];

            },

            submitForm() {

                let formData = new FormData();

                formData.append('image', this.image);
                formData.set('name_ar', this.name_ar);
                formData.set('name_en', this.name_en);

                var count = 0;

                this.select_options.forEach(function(option){

                    formData.set('options['+count+'][id]',option.id);
                    formData.set('options['+count+'][value_ar]',option.value_ar);
                    formData.set('options['+count+'][value_en]',option.value_en);

                    count++;
                });

                formData.set('type[value]', this.type.value);
                formData.set('type[name]', this.type.name);

                formData.append(`row`, this.attribute ? this.attribute.id : "");

                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 1500
                });
                let url = this.attribute
                    ? "/admin/attributes/update"
                    : "/admin/attributes/store";
                axios.post(url,

                        formData
                    // {
                    //     name_ar: this.name_ar,
                    //     name_en: this.name_en,
                    //     type: this.type,
                    //     options: this.select_options,
                    //     row: this.attribute ? this.attribute.id : "",
                    // }


                    ,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }

                    )
                    .then(response => {
                        if (response.data.status == 1) {
                            Toast.fire({
                                type: "success",
                                title: response.data.msg
                            });
                            window.location.href = route("attributes.index");
                        } else if (response.data.status == 0) {
                            Toast.fire({
                                type: "error",
                                timer: 3000,
                                title: response.data.msg
                            });
                        } else {
                            Toast.fire({
                                type: "error",
                                title: "حدث خطأ , برجاء المحاوله مره اخرى"
                            });
                        }
                    })
                    .catch(
                        err=>{

                            Toast.fire({
                                type: "error",
                                title: 'sorry error in data',
                            });
                        }
                    );
            },
            addOption() {
                this.select_options.push({
                    id: Date.now(),
                    value_ar: "",
                    value_en: ""
                });
            }
        },
        mounted() {
            this.$root.$on("option-updated", (id, value_ar, value_en) => {
                if (value_ar || value_en) {
                    let optionIndex = this.select_options.findIndex(obj => {
                        return obj.id == id;
                    });
                    if (optionIndex != -1) {
                        this.select_options[optionIndex].value_ar = value_ar;
                        this.select_options[optionIndex].value_en = value_en;
                    }
                }
            });
            this.$root.$on("option-deleted", id => {
                if (this.select_options.length > 2) {
                    this.select_options = this.select_options.filter(obj => {
                        return obj.id != id;
                    });
                }
            });
            if (this.attribute) {
                this.name_ar = this.attribute.name.ar;
                this.name_en = this.attribute.name.en;
                this.type = this.attribute.type;
                if (this.attribute.type.name == "select") {
                    this.select_options = this.attribute.options.value;
                }
            }
        }
    };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
