<template>
  <div class="form-group col-6">
    <ValidationProvider v-if="attr.type.name == 'select'" rules="required" v-slot="{ errors }">
      <label class="typo__label">{{attr.name.ar}} :</label>
      <multiselect
        placeholder=" "
        :options="attr.options.value"
        track-by="id"
        :custom-label="nameWithLang"
        v-model="selected_attr"
      ></multiselect>
      <span class="text-danger">{{ errors[0] }}</span>
    </ValidationProvider>
    <ValidationProvider v-if="attr.type.name == 'text'" rules="required" v-slot="{ errors }">
      <label class="typo__label">{{attr.name.ar}} :</label>
      <input :type="attr.type.name" class="form-control" v-model="attr_value_ar" />
      <span class="text-danger">{{ errors[0] }}</span>
    </ValidationProvider>
    <ValidationProvider v-if="attr.type.name == 'text'" rules="required" v-slot="{ errors }">
      <label class="typo__label">{{attr.name.en}} :</label>
      <input :type="attr.type.name" class="form-control" v-model="attr_value_en" />
      <span class="text-danger">{{ errors[0] }}</span>
    </ValidationProvider>
    <ValidationProvider v-if="attr.type.name == 'number'" rules="required" v-slot="{ errors }">
      <label class="typo__label">{{attr.name.ar}} :</label>
      <input :type="attr.type.name" class="form-control" v-model="same_value" />
      <span class="text-danger">{{ errors[0] }}</span>
    </ValidationProvider>
    <ValidationProvider v-if="attr.type.name == 'date'" rules="required" v-slot="{ errors }">
      <label class="typo__label">{{attr.name.ar}} :</label>
      <input :type="attr.type.name" class="form-control" v-model="same_value" />
      <span class="text-danger">{{ errors[0] }}</span>
    </ValidationProvider>
  </div>
</template>
<script>
import { ValidationProvider, ValidationObserver } from "vee-validate";

export default {
  props: {
    attr: {
      required: true
    },
    product: {
      required: false
    },
    selected_category_id: {
      required: false
    }
  },
  data() {
    return {
      attr_value_ar: null,
      attr_value_en: null,
      selected_attr: null,
      same_value: null
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  mounted() {
    if (
      this.product &&
      this.product.attributes_values &&
      this.product.category_id == this.selected_category_id
    ) {
      let checker = this.product.attributes_values.value.filter(row => {
        return row.id == this.attr.id;
      });
      if (checker) {
        if (this.attr.type.name == "date" || this.attr.type.name == "number") {
          this.same_value = checker[0].value_ar;
        }
        if (this.attr.type.name == "select") {
          this.selected_attr = {
            id: Date.now(),
            value_ar: checker[0].value_ar,
            value_en: checker[0].value_en
          };
        }
        this.attr_value_ar = checker[0].value_ar;
        this.attr_value_en = checker[0].value_en;
      }
    }
  },
  watch: {
    selected_attr() {
      this.attr_value_ar = this.selected_attr.value_ar;
      this.attr_value_en = this.selected_attr.value_en;
    },
    same_value() {
      this.attr_value_ar = this.same_value;
      this.attr_value_en = this.same_value;
    },
    attr_value_ar() {
      this.updateParent();
    },
    attr_value_en() {
      this.updateParent();
    },
    selected_category_id() {
      this.attr_value_ar = null;
      this.attr_value_en = null;
      this.same_value = null;
      this.selected_attr = null;
    }
  },
  methods: {
    updateParent() {
      this.$root.$emit(
        "attr-updated",
        this.attr.id,
        this.attr_value_ar,
        this.attr_value_en
      );
    },
    nameWithLang(option) {
      return option.value_ar;
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
