<template>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 v-if="this.product">تعديل</h5>
        <h5 v-else>إنشاء جديد</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <ValidationObserver ref="form">
              <form @submit.prevent="validateForm">
                <div class="row">
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">الإسم بالعربيه :</label>
                      <input type="text" class="form-control" v-model="name_ar" />
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">الإسم بالانجليزيه :</label>
                      <input type="text" class="form-control" v-model="name_en" />
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">الوصف بالعربيه :</label>
                      <textarea name class="form-control" v-model="desc_ar" cols="30" rows="5"></textarea>
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">الوصف بالانجليزيه :</label>
                      <textarea name class="form-control" v-model="desc_en" cols="30" rows="5"></textarea>
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">رقم المنتج في المخزن :</label>
                      <input type="text" class="form-control" v-model="sku" />
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">القسم :</label>
                      <multiselect
                        placeholder=" "
                        :options="categories"
                        track-by="id"
                        :custom-label="nameWithLang"
                        v-model="selected_category"
                      ></multiselect>
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">من اجل :</label>
                      <multiselect
                              placeholder=" "
                              :options="type_for"
                              track-by="id"
                              label="name"
                              v-model="type"
                      ></multiselect>
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>

<!--                  <div class="form-group col-6">-->
<!--                    <ValidationProvider rules="required" v-slot="{ errors }">-->
<!--                      <label class="typo__label">الوصف بالعربيه :</label>-->
<!--                      <textarea name class="form-control" v-model="desc_ar" cols="30" rows="5"></textarea>-->
<!--                      <span class="text-danger">{{ errors[0] }}</span>-->
<!--                    </ValidationProvider>-->
<!--                  </div>-->
<!--                  <div class="form-group col-6">-->
<!--                    <ValidationProvider rules="required" v-slot="{ errors }">-->
<!--                      <label class="typo__label">الوصف بالانجليزيه :</label>-->
<!--                      <textarea name class="form-control" v-model="desc_en" cols="30" rows="5"></textarea>-->
<!--                      <span class="text-danger">{{ errors[0] }}</span>-->
<!--                    </ValidationProvider>-->
<!--                  </div>-->
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">الكميه :</label>
                      <input type="number" class="form-control" v-model="quantity" />
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">منشور :</label>
                      <multiselect
                        placeholder=" "
                        :options="yes_no_options"
                        track-by="name"
                        label="name"
                        v-model="published"
                      ></multiselect>
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <div class="form-group col-6">
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <label class="typo__label">يظهر فى الرئيسيه :</label>
                      <multiselect
                        placeholder=" "
                        :options="yes_no_options"
                        track-by="name"
                        label="name"
                        v-model="show_homepage"
                      ></multiselect>
                      <span class="text-danger">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                  <template v-if="selected_category && selected_category.attributes.length">
                    <category-attributes
                      v-for="attr in selected_category.attributes"
                      :key="attr.id"
                      :attr="attr"
                      :product="product"
                      :selected_category_id="selected_category.id"
                    ></category-attributes>
                  </template>
                </div>
                <button type="submit" class="btn btn-primary">تأكيد</button>
                <a :href="route">
                  <button type="button" class="btn btn-danger">الغاء</button>
                </a>
              </form>
            </ValidationObserver>
          </div>
        </div>
      </div>
    </div>
    <!-- Input group -->
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from "vee-validate";
import CategoryAttributes from "./CategoryAttributes";
import Swal from "sweetalert2";
import VueUploadMultipleImage from "vue-upload-multiple-image";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

export default {
  data() {
    return {
      route: route("products.index"),
      name_ar: null,
      name_en: null,
      desc_ar: null,
      desc_en: null,
      selected_category: null,
      sku: null,
      attributes_answers: [],
      quantity: null,
      yes_no_options: [{ value: "1", name: "نعم" }, { value: "0", name: "لا" }],
      type_for: [{ value: "person", name: "person" }, { value: "company", name: "company" }],
      published: null,
      show_homepage: null,
      type: null
    };
  },
  props: ["product", "categories"],
  components: {
    ValidationProvider,
    ValidationObserver,
    "category-attributes": CategoryAttributes
  },
  watch: {
    selected_category() {
      this.attributes_answers = [];
    }
  },
  methods: {
    validateForm() {
      return new Promise((resolve, reject) => {
        this.$refs.form.validate().then(result => {
          if (result) {
            this.submitForm();
          }
        });
      });
    },
    uploadImageSuccess(formData, index, fileList) {
      this.images = fileList;
    },
    beforeRemove(index, done, fileList) {
      var r = confirm("هل انت متأكد من حذف الصوره ؟");
      if (r == true) {
        done();
        this.images = fileList;
      } else {
      }
    },
    editImage(formData, index, fileList) {
      this.images = fileList;
    },
    nameWithLang(option) {
      return option.name.ar;
    },
    submitForm() {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 1500
      });
      let url = this.product
        ? "/admin/products/update"
        : "/admin/products/store";
      axios
        .post(url, {
          name_ar: this.name_ar,
          name_en: this.name_en,
          desc_ar: this.desc_ar,
          desc_en: this.desc_en,
          sku: this.sku,
          published: this.published ? this.published.value : 0,
          show_homepage: this.show_homepage ? this.show_homepage.value : 0,
          category: this.selected_category.id,
          attributes_answers: this.attributes_answers,
          images: this.images,
          quantity: this.quantity,
          type: this.type.value,
          row: this.product ? this.product.id : ""
        })
        .then(response => {
          if (response.data.status == 1) {
            Toast.fire({
              type: "success",
              title: response.data.msg
            });
            window.location.href = route("products.index");
          } else if (response.data.status == 0) {
            Toast.fire({
              type: "error",
              timer: 3000,
              title: response.data.msg
            });
          } else {
            Toast.fire({
              type: "error",
              title: "حدث خطأ , برجاء المحاوله مره اخرى"
            });
          }
        });
    }
  },
  mounted() {
    this.$root.$on("attr-updated", (attr_id, value_ar, value_en) => {
      let answerIndex = this.attributes_answers.findIndex(answer => {
        return answer.id == attr_id;
      });
      if (answerIndex != -1) {
        this.attributes_answers[answerIndex].value_ar = value_ar;
        this.attributes_answers[answerIndex].value_en = value_en;
      } else {
        this.attributes_answers.push({
          id: attr_id,
          value_ar: value_ar,
          value_en: value_en
        });
      }
    });
    if (this.product) {
      this.name_ar = this.product.name.ar;
      this.name_en = this.product.name.en;
      this.desc_ar = this.product.description.ar;
      this.desc_en = this.product.description.en;
      this.sku = this.product.sku;
      this.quantity = this.product.quantity;
      let category = this.categories.filter(category => {
        return this.product.category_id == category.id;
      });
      if (category) {
        this.selected_category = category[0];
      }
      let published = this.yes_no_options.filter(option => {
        return option.value == this.product.published;
      });
      if (published) {
        this.published = published[0];
      }
      let type = this.type_for.filter(option => {
        return option.value == this.product.type;
      });
      if (type) {
        this.type = type[0];
      }

      let show_homepage = this.yes_no_options.filter(option => {
        return option.value == this.product.show_homepage;
      });
      if (show_homepage) {
        this.show_homepage = show_homepage[0];
      }
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
